.footer {
    background-color: rgb(53, 54, 56);

    &__title {
        font-family: 'Shrikhand', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding-top: 20px;
    }

    &__nav {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: white;
        font-size: 14px;

        &__cards {
            display: flex;
            gap: 8px;

            & i {
                height: 13px;
                width: 15px;
            }
        }
    }
}