.loader {
    @include flex-center;
    position: fixed;
    inset: 0;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
    animation: opacity 1s 4s both;
    pointer-events: none;

    &::after {
        content: "";
        animation: rotate 2s infinite ease-in-out both;
        height: 50px;
        width: 25px;
        clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 100%, 100% 100%);
        background-image: $gradient;
    }
} 