@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


// VARIABLES 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$grey-light: rgb(243, 243, 243);
$grey-dark: rgb(232, 232, 232);

$gradient: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);


// MIXINS

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin new {
    content: "Nouveau";
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50);
    height: 25px;
    width: 80px;
    @include flex-center;
    font-size: 14px;
    border: 1px solid darken($color: $color-tertiary, $amount: 50);
    border-radius: 3px;
}

@mixin button {
    height: 50px;
    width: 65%;
    max-width: 450px;
    background-image: $gradient;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}


// KEYFRAMES

@keyframes opacity {
    to {
        opacity: 0;
    }
}

@keyframes rotate {
    to {
        transform: rotate(180deg);
    }
}


// GLOBAL 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

.container {
    width: 90%;
    margin-inline: auto;
}


// LOADER 

.loader {
    @include flex-center;
    position: fixed;
    inset: 0;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
    animation: opacity 1s 4s both;
    pointer-events: none;

    &::after {
        content: "";
        animation: rotate 2s infinite ease-in-out both;
        height: 50px;
        width: 25px;
        clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 100%, 100% 100%);
        background-image: $gradient;
    }
} 


// HEADER 

.header {

    &__title {
        @include flex-center;
        margin-block: 20px;
    
        &__img {
            height: 40px;
            width: 200px;
        }
    }
}


// LOCALISATION / SEARCH SECTION 

.localisation {
    @include flex-center;
    background-color: $grey-dark;
    padding-block: 20px;
    gap: 15px;
    box-shadow: -1px -3px 5px 0px rgba(192, 192, 192, 0.8);

    &__description {
        font-weight: bold;
    }
}

.information {
    @include flex-center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: $grey-light;

    &__title {
        margin-block: 5px;
        font-weight: bold;
    }

    &__description {
        margin-block: 5px;
        font-size: 18px;
        color: rgb(66, 66, 66);
    }

    &__link {
        @include flex-center;
        @include button;
        margin-block: 15px;
    
        & a {
            padding: 5px;
        }
    }
}


// PROCESSING SECTION 

.processing {
    margin-block: 25px;

    &__title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__explanation {

        &__cards {
            display: flex;
            align-items: center;
            flex: 1;
            gap: 25px;
            margin-block: 20px;
            background-color: $grey-light;
            height: 60px;
            border-radius: 18px;
            box-shadow: 1px 1px 5px 3px $grey-dark;
            list-style-position: inside;
            counter-increment: step;

            &::before {
                content: counter(step);
                background-color: $color-primary;
                border-radius: 25px;
                height: 20px;
                width: 20px;
                @include flex-center;
                color: white;
                font-size: 12px;
                margin-left: -8px;
            }

            & i {
                left: 35px;
                color: rgb(136, 136, 136);
                font-size: 17px;
            }

            &:nth-child(3) {
                background-color: rgba($color: $color-primary, $alpha: 0.2);

                & i {
                    color: $color-primary;
                }
            }
        }
    }
}


// RESTAURANTS SECTION 

section:nth-child(3) {
    background-color: $grey-light;
}

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 40px;

    &__title {
        font-size: 22px;
        padding-top: 40px;
    }

    &__cards {
        background-color: white;
        border-radius: 20px;
        height: 220px;
        position: relative;
        max-width: 400px;

        @for $i from 1 through 2 {
            &:nth-child(#{$i}) {

                & a {

                    &::before {
                        @include new;
                    }
                }
            }
        }
    }

    &__article {
        height: 100%;

        &__img {
            height: 70%;
            width: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            object-position: 50% 60%;
        }

        &__description {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 12px;
            padding-top: 8px;

            &__title {
                margin-bottom: 5px;
            }

            & i {
                position: absolute;
                right: 15px;
                font-size: 20px;

                &:hover {
                    background-image: $gradient;
                    clip-path: path("M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z");
                    color: transparent;
                }
            }
        }
    }
}


// FOOTER 

.footer {
    background-color: rgb(53, 54, 56);

    &__title {
        font-family: 'Shrikhand', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding-top: 20px;
    }

    &__nav {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: white;
        font-size: 14px;

        &__cards {
            display: flex;
            gap: 8px;

            & i {
                height: 13px;
                width: 15px;
            }
        }
    }
}


// HEADER MENU PAGES 

.body-menu header {
    @include flex-center;
    position: relative;

    & a {
        position: absolute;
        left: 25px;

        & i {
            font-size: 22px;
        }
    }
}


// IMAGES MENU PAGES 

.restaurant-img {
    max-width: 100%;
    height: 250px;
    aspect-ratio: 5;
    object-fit: cover;
}


// RESTAURANT MENU

.menu-section {
    position: relative;
    z-index: 1;
    border-radius: 25px 25px 0 0;
    margin-top: -25px;
    background-color: rgb(243, 243, 243);
}

.restaurant {
    display: flex;
    align-items: center;
    padding-block: 20px;
    position: relative;

    &__name {
        font-family: 'Shrikhand', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }

    & i {
        position: absolute;
        right: 25px;
        font-size: 20px;

        &:hover {
            background-image: $gradient;
            clip-path: path("M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z");
            color: transparent;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__block {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__title {
            font-weight: 100;
        }

        &__cards {
            display: flex;
            background: white;
            border-radius: 15px;
            padding: 10px;

            &__main {
                margin-bottom: 5px;
            }

            &__aside {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
            }

            &__price {
                margin-left: auto;
                font-weight: bold;
                font-size: 14px;
            }

            &__check {
                background-color: $color-tertiary;
                height: 63px;
            }
        }
    }

    &__button {
        @include flex-center;
        padding-block: 45px;

        &__display {
            @include button;
            border: 1px solid rgb(243, 243, 243);
        }
    }
}