@keyframes opacity {
    to {
        opacity: 0;
    }
}

@keyframes rotate {
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}