@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin new {
    content: "Nouveau";
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50);
    height: 25px;
    width: 80px;
    @include flex-center;
    font-size: 14px;
    border: 1px solid darken($color: $color-tertiary, $amount: 50);
    border-radius: 3px;
}

@mixin button {
    height: 50px;
    width: 65%;
    max-width: 450px;
    background-image: $gradient;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}

@mixin heart-gradient {
    background-image: $gradient;
    background-clip: text;
    color: transparent;
    transition: all 200ms;
    cursor: pointer;
}

//add text stroke with background clip